.form__style {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.email__id {
    display: flex;
    color: #6f767b;
    font-size: 12px;
}

.email__input {
    height: calc(1.5em + .75rem + 2px);
    width: 80%;
    border-radius: 1rem;
    border: 1px solid #bec1c4;
    padding: .375rem .75rem;
}

.password__style {
    display: flex;
    color: #6f767b;
    font-size: 12px;
}

.pass__input {
    height: calc(1.5em + .75rem + 2px);
    width: 80%;
    border: 1px solid #ced4da;
    border-radius: 1rem;
    padding: .375rem .75rem;
}


.forget__style {
    display: flex;
    flex-flow: row-reverse;
    color: #6f767b;
    font-size: 12px;
}

.btn__login {
    padding: 1rem 2rem;
    border: 0;
    background: #485867;
    color: #fff;
    border-radius: 5px;
}

.link__style {
    color: #6f767b;
    font-size: 12px;
}

.head__toggle{
    flex-direction: row;
    display: inline-flex;
}

.field_container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.field_error {
    color: #b32e2e;
    font-size: 11px;
    min-height: 18px;
}


/* =============form2=============== */
.form__style__two {
    margin-bottom: 2rem;
}

.name__id__two {
    display: flex;
    color: #6f767b;
    font-size: 12px;
}

.email__id__two {
    display: flex;
    color: #6f767b;
    font-size: 12px;
}

.gender__id__two {
    display: flex;
    color: #6f767b;
    font-size: 12px;
}

.mobile__id__two {
    display: flex;
    color: #6f767b;
    font-size: 12px;
}

.email__input__two {
    height: calc(1.5em + .75rem + 2px);
    width: 100%;
    border-radius: .3rem;
    border: 1px solid #bec1c4;
    display: flex;
    padding: .375rem .75rem;
}

.password__style__two {
    display: flex;
    color: #6f767b;
    font-size: 12px;
}

.pass__input__two {
    height: calc(1.5em + .75rem + 2px);
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: .3rem;
    display: flex;
    padding: .375rem .75rem;
}

.btn__register {
    padding: 1rem 2rem;
    border: 0;
    background: #485867;
    color: #fff;
    border-radius: 5px;
    margin-top: 1rem;
}

.link__style__two {
    color: #6f767b;
    font-size: 11px;
}

@media (max-width: 784px){
    .head__toggle{
        width: max-content;
    }
}


@media (max-width: 768px){
    .email__id {
        display: flex;
        font-size: 100%;
    }

    .password__style {
        font-size: 100%;
    }

    .forget__style {
        font-size: 100%;
    }

    .link__style {
        font-size: 100%;
    }

    .head__toggle div p{
        font-size: 100%;
    }

    .name__id__two,.email__id__two,.gender__id__two,.mobile__id__two,.password__style__two{
        font-size: 100%;
    }

    .link__style__two {
        font-size: 100%;
    }

    .field_error{
        font-size: 100%;
    }

}

@media (max-width: 324px){
    .head__toggle{
        width: max-content;
    }
}