.bg{
    background-color: #192b3f;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    flex: 100%;
}

.login__flex{
    display: inline-flex;
    align-items: flex-end;
}

.login{
    display: flex;
    position: relative;
    top: 2rem;
}

.lorem__text{
    font-size: 12px;
}

/* ====================Mobile Responsive=================== */

@media (min-width: 1024px){
    .bg{
        width: 100vw;
        height: 100vh;
    }

    .login__flex{
        display: flex;
    }
}

@media (min-width: 769px) and (max-width: 1023px){
    .bg{
        width: 100%;
        height: 100vh;
    }
}

@media (max-width: 768px) {
    .bg {
        display: inline-flex;
        width: 100%;
        height: auto;
    }

    .loginBg{
        height: auto;
  		flex: 100%;
  	 	align-items: center;
    }

    .login{
        top: 0rem;
    }

    .login__flex{
        display: block;
    }

    .login__content h2{
        display: inline-flex;
        font-size: 200%;
    }

    .lorem__text{
        display: flex;
        font-size: 120%;
    }

  }

@media (max-width: 414px){
    .bg{
        display: inline-flex;
        width: 100%;
    }
} 

@media (max-width: 320px){
    .bg{
        display: flex;
        width: 100%;
    }

    .loginBg{
        display: contents;
    }
} 
