.content {
  background-color:#f6f6f6;
  height: auto;
  margin: 0px;
  width: 85%;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
}

.main__vendor {
  display: flex;
  position: relative;
  top: 4rem;
}

.dashboard__tranc{
  display: flex;
  position: relative;
  left: -1rem;
  margin-top: -22rem;
}

.main__sale__wallet {
  display: flex;
  margin-top: 4rem;
}

.cashback {
  margin-top: -18rem;
  margin-left: .5rem;
}

.main_cash {
  position: absolute;
  left: 14.5rem;
  top: 52.5rem;
}

.main_transcation {
  position: absolute;
  left: 61.5rem;
  top: 41.5rem;
}

.dashboard__wallet {
  position: absolute;
  left: 61.5rem;
  top: 20rem;
}

.dashboard__sale {
  position: absolute;
  left: 61.5rem;
  top: 8rem;
}


/* ====================Mobile Responsive=================== */
@media (min-width: 1024px){
  .content{
    height: auto;
    width: 85%;
    margin-top: -27rem;
    display: flex;
    float: right;
  }

  .main__vendor {
    top: 3rem;
  }
  
  .main__sale__wallet {
    display: inline-block;
    margin-top: 3rem;
  }
}

@media (max-width: 768px) {

  .content{
    height: auto;
    width: 766px;
    margin-left: 0rem;
  }

  .main__vendor{
    margin-top: 5rem;
  }

  .main__sale__wallet{
    margin-top: 6rem;
  }

  .dashboard__tranc{
    margin-top: 1rem;
  }
}
