@media only screen and (max-width: 600px){
    .header__nav > nav{
        height: auto;
        display: flex;
        /* width: 100%; */
    }

    .header__nav > nav > button > span{
        width: 65px;
        height: 65px;
    }

    .header__nav > nav > a {
        font-size: 200%;
    } 

    .header__nav_list{
        font-size: 90%;
    }

    .header__nav_list > div{
        font-size: 90%;
    }
}