.title{
    font-size: 8px;
    padding: 8px;
    margin-left: .3rem;
    margin-top: .5rem;
}

.vendor__tranc{
    border-radius: 50%;
    margin-top: .3rem;
    margin-left: .1rem;
}

.paid{
    font-size: 8px;
    padding: 8px;
    margin-top: .5rem;
}

.response_cash{
    display: flex;
}

.transcation__plus{
    margin-top: .7rem;
}

.tranc__last{
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

.title p{
    line-height: -0rem;
    margin-top: .5rem;
}

.pipe{
    font-size: 2.5rem;
    position: absolute;
    top: -.5rem;
    color: grey;
}

.cashback{
    font-size: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vendor_Img__style{
    background-color: grey;
    color: black;
    padding: 5px;
    border-radius: 50%;
    margin-top: .5rem;
}